/*---------------Here is my HEADER -----------------*/
.header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}
.header__toplogo {
  float:left;
  padding-right: 5px;
  padding-top: 0px;
}
.header__wordmark {
  font-family: Yellowtail;
  font-size: 42px;
  font-style: bold;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
  padding-left: 0%;
  padding-top: 10px;
  padding-right: 25px;
  margin-bottom: 10px;
}
.header__tagline {
  font-family: Abel,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 10px;
  color: #333333;
  text-transform: uppercase;
}
.header__horizontallist li {
  display: inline;
  float:right;
  padding-right: 2px;
}
.header__horizontallist li:nth-child(2)
{
  padding-left: 5px;
}
.bottomborder {
  border-style: solid;
  border-width: 0px 0px 13px 0px;
  border-image: url(http://i.imgur.com/pnoMOCF.png) 0 2 13 0 fill repeat;
}
/*---------------Here is my Title Section-----------------*/
.article__title {
  font-family: "Oswald",Arial,sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 5px;
  padding-top: 5%;
}
.article__featureimg {
  width:100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.article__postdate {
  font-family: Abel,'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 50;
  color:#979797;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  margin-left: 0px;
  text-transform: uppercase;
}
.article__printicon{
  color:#979797;
  margin-top: 1%;
  float: right;
  text-align: right;
  font-size: 80%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/*---------------Here is my Ingredients section-----------------*/
.article__ingredients{
  /*background-image: url("http://i.imgur.com/dD2qQjS.png");*/
  background-repeat: no-repeat;
  width: 100%
  padding-top: 18px;
  margin-bottom: 5%
}
.recipe{
  font-family: "Patrick Hand",sans-serif;
  color: #746555;
  font-size:22px;
  line-height: 20px;
  list-style: none;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 100px;
  text-indent: -22px;
  line-height: 21px;
}
.article__ingredients ul {
  margin-bottom: 0px;
}
.recipe span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start
    align-items: flex-start;
}
.flex-item-1 {
    width: 200px;
    height: 180px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 180px;
}
.flex-item-2 {
    width: 200px;
    height: 140px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    padding-right: 10%;
}
.unchecked {
  background-image: url("http://i.imgur.com/d0QGfE1.png");
}
.checked {
  background-image: url("http://i.imgur.com/ueFLPU3.png");
}
.linethrough {
  text-decoration: line-through;
}
/*---------------Here is my Author section-----------------*/
.author{
  padding-top: 5%;
  padding-bottom: 5%;
}
.author__profilepic{
  float: left;
  padding-right: 10px
}
.author__name{
  margin-top: 5px;
  font-size: 26px;
  margin-bottom: 0px;
  color: #484847;
}
.author__description{
  margin: 2px;
  color: #484847;
  text-indent: 0px;
}
.article__sharebutton{
  background-color: #bc7058;
  color: white;
  padding: 5px;
  float: right;
  text-align: center;
  width:130px;
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
/*---------------Here is my Footer section-----------------*/
footer{
  text-align: center;
  border-top: solid thin gray;
}
footer p {
  font-size: 12px;
  color: #c7c7c7;
  margin-bottom: 5px;
  text-align: center;
  line-height: 15px;
}
.centerlogo{
  margin-top: -25px;
  border-style: solid;
  border-width: thick;
  border-color: white;
}

