/*ingredients notepad*/
.unchecked {
  background-image: url("http://i.imgur.com/d0QGfE1.png");
}
.checked {
  background-image: url("http://i.imgur.com/ueFLPU3.png");
}
/*media queries for screen size*/
@media (max-width: 550px) {
  header {
    padding-bottom: 100px;
  }
  .social {
    text-align: left;
  }
}
  @media (min-width: 551px) {
  header {
    padding-bottom: 75px;
  }
  .social {
    text-align: right;
  }
}
@media (max-width: 700px) {
  .pad {
    background-image: url("../images/notepad-500px.png");
    min-height: 530px;
  }
  .pad ul {
    padding-left: 40px;
  }
  .pad ul:first-child {
    padding-top: 38px;
  }
}
@media (min-width: 701px) {
  .pad {
    background-image: url("../images/notepad.png");
    height: 310px;
  }
  .pad ul {
    padding-top: 38px;
  }
  .pad ul:first-child {
    padding-left: 60px;
  }
}

