/*ingredients notepad*/
.unchecked {
  background-image: url("http://i.imgur.com/d0QGfE1.png");
}
.checked {
  background-image: url("http://i.imgur.com/ueFLPU3.png");
}
/*media queries for screen size*/
@media (max-width: 722px) {
  .notepad {
    background-image: url("http://i.imgur.com/oGGck6d.png");
    min-height: 530px;
    padding-top: 40px;
  }
  .notepad ul {
    padding-left: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media (min-width: 723px) {
  .notepad {
    background-image: url("http://i.imgur.com/dD2qQjS.png");
    height: 310px;
  }
}

