body {
  padding: 15%;
  padding-top: 3%;
}
p {
  font-family:  "Droid Serif", serif;
  color: #000000;
}
.cursive {
  font-family: Yellowtail;
  font-size: 42px;
  font-style: bold;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}
#toplogo {
  float:left;
  padding-right: 5px;
  margin-bottom: 0px;
}
.tagline {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 10px;
  margin-top: 0px;
  margin-right: 50px;
  color: #333333;
}
.horizontallist li {
  display: inline;
  float:right;
  padding: 1px;
}
header {
  padding-bottom: 20px;
  border-style: solid;
  border-width: 0px 0px 13px 0px;
  -moz-border-image: url(http://i.imgur.com/pnoMOCF.png) 0 0 13 0 repeat;
  -webkit-border-image: url(http://i.imgur.com/pnoMOCF.png) 0 0 13 0 repeat;
  -o-border-image: url(http://i.imgur.com/pnoMOCF.png) 0 0 13 0 repeat;
  border-image: url(http://i.imgur.com/pnoMOCF.png) 0 0 13 0 fill repeat;
}
.feature {
  float: center;
  width:100%;
  margin-top: 15px;
}
.title {
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 10px;
  margin-bottom: 5px;
  margin-top: 70px;
}
.postdate {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 50;
  color:#979797;
  margin-top: 20px;
}
#printer{
  color:#979797;
  float: right;
  font-size: 12px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin-top: -30px;
  text-decoration: none;
}
.measurements{
  margin-top:35px;
  margin-bottom: 35px;
  background-image: url("http://i.imgur.com/dD2qQjS.png");
  height: 280px;
  width: 100%;
  font-family: "Patrick Hand",sans-serif;
  color: #746555;
  font-size:22px;
  padding-top: 14px;
  color:
}
.recipeleft{
  list-style: none;
  float:left;
  width:500px;
  padding-left: 50px;
  padding-right: 30px;
}
.reciperight{
  list-style: none;
  float:right;
  margin-top: -202px;
}
.author{
  border-style: solid;
  border-width: 13px 0px 2px 0px;
  -moz-border-image: url(http://i.imgur.com/pnoMOCF.png) 13 0 2 0 repeat;
  -webkit-border-image: url(http://i.imgur.com/pnoMOCF.png) 13 0 2 0 repeat;
  -o-border-image: url(http://i.imgur.com/pnoMOCF.png) 13 0 2 0 repeat;
  border-image: url(http://i.imgur.com/pnoMOCF.png) 13 0 2 0 fill repeat;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: solid thin grey;
}
.profilepic{
  float: left;
  margin-right: 15px;
}
.name{
  margin-top: 5px;
}
.description{
  margin-top: -5px;
  font-size: 18px;
  width: 75%;
}
#share{
  background-color: #bc7058;
  color: white;
  text-decoration: none;
  padding: 20px;
  float: right;
  margin-top: -85px;
}
footer{
  text-align: center;
  color: #d1d1d1;
}
.centerlogo{
  margin-top: -20px;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
